
<div>
    <nav class="navbar navbar-fixed-top navbar-static-top" style="display:block;">
      <div class="container">
          <a class="navbar-brand navbar-link" routerLinkActive="active" routerLink="/admin">Hotel Management Admin portal</a>
          <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="../bookingadmin">Booking</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="../hoteladmin" >Hotels</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/" (click)="logout()">Logout</a></li>
          </ul>
      </div>
    </nav>
  </div>

<div class="container">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>email</th>
        <th>Hotel Name</th>
        <th>Name of person</th>
        <th>Age</th>
        <th>Check-in Date</th>
        <th>Check-out Date</th>
        <th>Phone no.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bookings of booking">
        <td><span>{{bookings.id}}</span></td>
        <td><span>{{bookings.email}}</span></td>
        <td><span>{{bookings.hotelname}}</span></td>
        <td><span>{{bookings.name}}</span></td>
        <td><span>{{bookings.age}}</span></td>
        <td><span>{{getdate(bookings.checkindate)| date:'yyyy-MM-dd'}}</span></td>        
        <td><span>{{getdate(bookings.checkoutdate)| date:'yyyy-MM-dd'}}</span></td>
        <td><span>{{bookings.phone}}</span></td>
        <td class="btndata">
        <span><button class="edit" (click)=edit(bookings) mat-raised-button color="primary">Edit</button></span>
          <span><button class="edit" (click)=del(bookings) mat-raised-button color="warn">Delete</button></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>