<p>about works!</p>

<mat-card>
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, distinctio deserunt debitis, minima modi illum laudantium accusamus ea iste non commodi facilis neque eligendi rerum accusantium atque! Nihil consequatur officiis hic. A reprehenderit neque maxime impedit praesentium nisi tempore eum ipsum delectus rerum dolore non accusamus placeat harum possimus, voluptates perspiciatis explicabo facere enim assumenda repudiandae temporibus pariatur velit vero. Quidem, sit! Porro quam quos, similique itaque repudiandae inventore rerum dolor veniam laudantium quibusdam corrupti fugiat nisi sed aliquid possimus, omnis eaque. Praesentium molestiae itaque incidunt illum enim autem ut. Asperiores, impedit repellat? Officia qui delectus officiis a placeat voluptatum?</mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error obcaecati dolorum magni rem sint, repudiandae mollitia amet hic ea placeat soluta animi! Voluptates esse qui natus veniam necessitatibus sint nulla fugit unde error doloribus assumenda, hic labore, excepturi, officiis laudantium expedita! Beatae distinctio nihil autem quisquam dolorum sit! Rem repudiandae dolore amet, repellendus repellat eveniet, aut ad nostrum quod alias corrupti, possimus vero asperiores. Unde nemo cum quia est harum ullam veniam provident soluta sunt, saepe quae officiis animi. Cum officiis quis labore alias ipsum ea, excepturi ipsam quia voluptates perspiciatis praesentium ullam voluptatum saepe nobis sint eveniet eligendi non.</mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eligendi, voluptatibus beatae, distinctio quod atque cumque magni a dicta mollitia, suscipit libero tempora eius accusantium vero? Commodi eius ratione amet neque cupiditate aliquam sint eveniet, suscipit praesentium sit porro sequi iusto optio odio officia modi nemo! Similique inventore dolorem corrupti nemo ducimus dolor debitis tempore. Modi repellat atque omnis dicta blanditiis itaque voluptas ex perspiciatis, vero amet deserunt sapiente vel recusandae iusto neque expedita vitae eius. Sed velit non repellat necessitatibus laudantium, facere ipsam mollitia placeat deserunt quisquam, excepturi quod dolor nobis in magnam doloremque, odio esse ipsum eos ut.</mat-card-title>
      <mat-card-subtitle>End</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
