<mat-card>
    <mat-card-header>
        <h2>Enter user details</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="bookingform" (ngSubmit)="proceedbooking()">
        
            <mat-form-field class="example-full-width">
                <mat-label>Name:</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input type="number" matInput formControlName="age" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Date for checkin</mat-label>
                <input type="date" matInput formControlName="checkindate" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Date for checkout</mat-label>
                <input type="date" matInput formControlName="checkoutdate" >
              </mat-form-field>
              <div>
                <button mat-raised-button color="primary" class="btnn">Book</button>
              </div>
          </form>
    </mat-card-content>
  </mat-card>

